{% extends 'base.html' %}
{% load static i18n %}

{% block html_attributes %}{% endblock html_attributes %}

{% block title %}404 Error | HTML5 {% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static '404-3/css/bundle.min.css' %}">
<link rel="stylesheet" href="{% static '404-3/css/line-awesome.min.css' %}">
<!-- Style Sheet -->
<link rel="stylesheet" href="{% static '404-3/css/style.css' %}">
{% endblock css %}

{% block body_attributes %}{% endblock body_attributes %}

{% block content %}
<section class="error-page-3 bg-error3-img">
    <div class="container">
        <div class="row">
            <div class="col-12 text-right text-alignment">
                <div class="error3-text">
                    <h1 class="main-heading">404 error</h1>
                    <h1 class="sub-heading">Page not found!</h1>
                    <p class="text-error">Lorem ipsum dolor sit amet, consectetur adipi elit, sed do eiusmod tempor
                        incididunt ut
                        labore.</p>
                    <a href="#" class="btn btn-primary rounded-pill home-btn">Home Page</a>
                </div>
            </div>

        </div>
    </div>



</section>
{% endblock content %}


{% block javascript %}
<script src="{% static '404-3/js/bundle.min.js' %}"></script>
<script src="{% static '404-3/js/script.js' %}"></script>
{% endblock javascript %}